<h3>Providers</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contactname &nbsp&nbsp</th>
      <th>Contactemail &nbsp&nbsp</th>
      <th>Username &nbsp&nbsp</th>
      <th>Userpassword &nbsp&nbsp</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %> &nbsp&nbsp</td>
        <td><%= provider.contactname %>&nbsp&nbsp&</td>
        <td><%= provider.contactemail %>&nbsp&nbsp</td>
        <td><%= provider.username %>&nbsp&nbsp</td>
        <td><%= provider.userpassword %>&nbsp&nbsp</td>
        <td><%= link_to 'Show', provider %>&nbsp&nbsp</td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path,  :class => "btn btn-link" %>
