<p id="notice"><%= notice %></p>
<h3> View provider </h3>

<div class="show_item" style="display: inline-block">
<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Contact Name:</strong>
  <%= @provider.contactname %>
</p>

<p>
  <strong>Contact Email:</strong>
  <%= @provider.contactemail %>
</p>

<p>
  <strong>Username:</strong>
  <%= @provider.username %>
</p>

<p>
  <strong>User Password:</strong>
  <%= @provider.userpassword %>
</p>


<%= link_to 'Edit', edit_provider_path(@provider), :class => "btn btn-link" %> |
<%= link_to 'Back', providers_path, :class => "btn btn-link" %>
</div>