<%= render 'layouts/header' %>
<ul>
  <li><%= link_to "List of Providers",   providers_path %></li>
  <li><%= link_to "Applications", applications_path %></li>
  <li><%= link_to "Application Databases", application_databases_path %></li>
  <li><%= link_to "Clients", clients_path %></li>
  <li><%= link_to "Database", databases_path %></li>
  <li><%= link_to "Servers", servers_path %></li>

</ul>