<%= simple_form_for @application do |f| %>

    <% if @application.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

          <ul>
            <% @application.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.input :url, label: "URL" %>
    <%= f.input :githuburl, label: "Github Url" %>
    <%= f.input :httpbasicUser, label: "HTTP Basic User" %>
    <%= f.input :httpbasicpassword, label: "HTTP Basic Password" %>
    <%= f.input :adminuser, label: "Administrator User" %>
    <%= f.input :adminpassword, label: "Administrator Password" %>
    <%= f.input :serverPath, label: "Server Path" %>
    <%= f.input :flag, label: "Flag" %>
    <%= f.association :client,  collection: Client.all,  prompt: "Choose a client" %>
    <%= f.association :application_database,  collection: ApplicationDatabase.all,  prompt: "Choose an Application Database" %>
    <%= f.association :server, :collection => Server.select("DISTINCT hostName, id").map { |s| [s.hostName, s.id]}, prompt: "Choose a Server" %>
    <%= f.button :submit,  :class => "btn btn-primary" %>
<% end %>