<h2>Applications</h2>

<table>
  <thead>
    <tr>
      <th>Url &nbsp&nbsp</th>
      <th>Githuburl &nbsp&nbsp</th>
      <th>Http Basic User &nbsp&nbsp</th>
      <th>Http Basic Password &nbsp&nbsp</th>
      <th>Administrator User &nbsp&nbsp</th>
      <th>Administrator Password &nbsp&nbsp</th>
      <th>Server folder Path &nbsp&nbsp</th>
      <th>Flag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td>&nbsp&nbsp</td>
        <td><%= application.url %>&nbsp&nbsp</td>
        <td><%= application.githuburl %>&nbsp&nbsp</td>
        <td><%= application.httpbasicUser %>&nbsp&nbsp</td>
        <td><%= application.httpbasicpassword %>&nbsp&nbsp</td>
        <td><%= application.adminuser %>&nbsp&nbsp</td>
        <td><%= application.adminpassword %>&nbsp&nbsp</td>
        <td><%= application.serverPath %>&nbsp&nbsp</td>
        <td><%= application.flag %>&nbsp&nbsp</td>
        <td><%= link_to 'Show', application %>&nbsp&nbsp</td>
        <td><%= link_to 'Edit', edit_application_path(application) %>&nbsp&nbsp</td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
