<h3>Applications</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Url</th>
      <th>Githuburl</th>
      <th>Http Basic User </th>
      <th>Http Basic Password</th>
      <th>Administrator User </th>
      <th>Administrator Password </th>
      <th>Server folder Path </th>
      <th>Flag</th>
      <th>Client</th>
      <th>Application Database</th>
      <th>Server</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.url %></td>
        <td><%= application.githuburl %></td>
        <td><%= application.httpbasicUser %></td>
        <td><%= application.httpbasicpassword %></td>
        <td><%= application.adminuser %></td>
        <td><%= application.adminpassword %></td>
        <td><%= application.serverPath %></td>
        <td><%= application.flag %></td>
        <td><%= Client.find_by(application.client_id).name %></td>
        <td><%= ApplicationDatabase.find_by(application.application_database_id).name %></td>
        <td><%= Server.find_by(application.server_id).hostName %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path, :class => "btn btn-link" %>
