<p id="notice"><%= notice %></p>
<h3>View application</h3>
<div class="show_item" style="display: inline-block">
<p>
  <strong>Url:</strong>
  <%= @application.url %>
</p>

<p>
  <strong>Githuburl:</strong>
  <%= @application.githuburl %>
</p>

<p>
  <strong>Http Basic User:</strong>
  <%= @application.httpbasicUser %>
</p>

<p>
  <strong>Http Basic Password:</strong>
  <%= @application.httpbasicpassword %>
</p>

<p>
  <strong>Admin User:</strong>
  <%= @application.adminuser %>
</p>

<p>
  <strong>Admin Password:</strong>
  <%= @application.adminpassword %>
</p>

<p>
  <strong>Server Folder Path:</strong>
  <%= @application.serverPath %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @application.flag %>
</p>

<p>
  <strong>Client:</strong>
  <%= if @application.client.present?
        @application.client.name
      end
  %>
</p>
<p>
  <strong>Server</strong>
  <%= if @application.server.present?
        @application.server.hostName
      end
  %>
</p>
<p>
  <strong>Application Database</strong>
  <%= if  @application.application_database.present?
        @application.application_database.name
      end
  %>
</p>

<%= link_to 'Edit', edit_application_path(@application), :class => "btn btn-link"%> |
<%= link_to 'Back', applications_path, :class => "btn btn-link" %>
</div>