
<p id="notice"><%= notice %></p>

<p>
  <strong>HostName:</strong>
  <%= @server.hostName %>
</p>

<p>
  <strong>Internal IP:</strong>
  <%= @server.internalIP %>
</p>

<p>
  <strong>External IP:</strong>
  <%= @server.externalIP %>
</p>

<p>
  <strong>User:</strong>
  <%= @server.user %>
</p>

<p>
  <strong>Password:</strong>
  <%= @server.password %>
</p>

<p>
  <strong>Root Password:</strong>
  <%= @server.rootPassword %>
</p>

<p>
  <strong>Publicsshkey:</strong>
  <%= @server.publicSSHKey %>
</p>

<input type=button value="Ping this server" onclick="<%= ping_server %>; showPing()">

<div id="myDiv" style="visibility: hidden" ><h3><%=@text_var%></h3></div>
<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>

<script language="javascript" type="text/javascript">
    function showPing() {
        myDiv.style.visibility = "visible";
    }
</script>

