<p id="notice"><%= notice %></p>
<h3 >View application database </h3>

<div class="show_item" style="display: inline-block">
<p>
  <strong>Name:</strong>
  <%= @application_database.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @application_database.user %>
</p>

<p>
  <strong>Password:</strong>
  <%= @application_database.password %>
</p>
  <%= link_to 'Edit', edit_application_database_path(@application_database), :class => "btn btn-link" %> |
  <%= link_to 'Back', application_databases_path, :class => "btn btn-link" %>
</div>

