<%= simple_form_for @database do |f| %>

    <% if @database.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@application.errors.count, "error") %> prohibited this client from being saved:</h2>

          <ul>
            <% @application.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.input :db_type, label: "Type" %>
    <%= f.input :rootpassword, label: "Root Password" %>
    <%= f.association :server, :collection => Server.select("DISTINCT hostName").map { |s| s.hostName},prompt: "Choose a Server" %>
    <%= f.button :submit,  :class => "btn btn-primary" %>
<% end %>

