<h2>Databases</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Type</th>
      <th>Root Password</th>
      <th>Server</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @databases.each do |database| %>
      <tr>
        <td><%= database.db_type %></td>
        <td><%= database.rootpassword %></td>
        <td><%= Server.find_by(database.server_id).hostName %></td>
        <td><%= link_to 'Show', database %></td>
        <td><%= link_to 'Edit', edit_database_path(database) %></td>
        <td><%= link_to 'Destroy', database, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Database', new_database_path,  :class => "btn btn-link" %>
