<p id="notice"><%= notice %></p>
<h3>View database</h3>

<div class="show_item" style="display: inline-block">
<p>
  <strong>Type:</strong>
  <%= @database.db_type %>
</p>

<p>
  <strong>Root Password:</strong>
  <%= @database.rootpassword %>
</p>

<p>
  <strong>Server ID:</strong>
  <%= if @database.server.present?
        @database.server.hostName
      end
  %>
</p>

<%= link_to 'Edit', edit_database_path(@database), :class => "btn btn-link" %> |
<%= link_to 'Back', databases_path, :class => "btn btn-link" %>
</div>